  <div id="footer-wrapper">
    <footer id="footer" class="container">
      <div class="row">
        <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-CONTACT') == 'YES') { %>
          <div class="col-3 col-6-medium col-12-small">
            <section>
              <h2>Links Úteis</h2>
              <% if (pageList.length > 0) { %>
                <ul class="divided">
                  <% pageList.forEach(item => { %>
                    <li><a href="/pagina/<%=item.id%>" target=<%=(item.openAnotherTab > 0 ? "_blank" : "_self")%>><%=item.name%></a></li>
                  <% }); %>                
                </ul>
              <% } %>
            </section>
            <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-SOCIAL-MEDIA-SHOW') == 'YES') { %>
              <section>
                <h2>Redes Sociais</h2>
                <ul class="icons">
                  <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-FACEBOOK-URL').length > 0) { %><li><a href="<%=getParams(sessionUser.parameters, 'SITE-FOOTER-FACEBOOK-URL')%>" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li><% } %>
                  <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-INSTAGRAM-URL').length > 0) { %><li><a href="<%=getParams(sessionUser.parameters, 'SITE-FOOTER-INSTAGRAM-URL')%>" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li><% } %>
                  <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-TWITTER-URL').length > 0) { %><li><a href="<%=getParams(sessionUser.parameters, 'SITE-FOOTER-TWITTER-URL')%>" target="_blank" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li><% } %>
                  <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-YOUTUBE-URL').length > 0) { %><li><a href="<%=getParams(sessionUser.parameters, 'SITE-FOOTER-YOUTUBE-URL')%>" target="_blank" class="icon brands alt fa-youtube"><span class="label">Youtube</span></a></li><% } %>
                </ul>
              </section>
            <% } %>
            <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-WHATSAPP-SHOW') == 'YES') { %>
              <section>
                <h2>WhatsApp</h2>
                <ul class="icons">
                  <li><i class="icon brands alt fa-whatsapp"></i><span class="label" style="font-size: 18px;"> <%-getParams(sessionUser.parameters, 'SITE-FOOTER-WHATSAPP-NUMBER-HTML5')%></span></li>
                </ul>
              </section>
            <% } %>
            <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-EMAIL-SHOW') == 'YES') { %>
              <section>
                <h2>E-Mail</h2>
                <ul class="icons">
                  <li><i class="icon alt fa-envelope"></i><span class="label" style="font-size: 18px;"> <%-getParams(sessionUser.parameters, 'SITE-FOOTER-EMAIL-ADDRESS-HTML5')%></span></li>
                </ul>
              </section>
            <% } %>
          </div>
          <div class="col-9 col-12-medium col-12-small">
            <section>
              <h2>FALE CONOSCO</h2>
              <div class="form">
                <div class="fields">
                  <div class="field half">
                    <input type="text" name="name" id="name" placeholder="Digite seu Nome completo..." />
                  </div>
                  <div class="field half" style="margin-top: 10px;">
                    <input type="text" name="email" id="email" placeholder="Digite seu E-mail..." />
                  </div>
                  <div class="field" style="margin-top: 10px;">
                    <textarea name="message" id="message" rows="5" placeholder="Digite sua mensagem..."></textarea>
                  </div>
                  <div class="field" style="margin-top: 10px;">
                    <button id="sendEmail" class="button submit">ENVIAR</button>
                  </div>
                </div>
              </div>
            </section>
          </div>
        <% } else { %>
          <div class="col-4 col-6-medium col-12-small">
            <section>
              <h2>Links Úteis</h2>
              <% if (pageList.length > 0) { %>
                <ul class="divided">
                  <% pageList.forEach(item => { %>
                    <li><a href="/pagina/<%=item.id%>" target=<%=(item.openAnotherTab > 0 ? "_blank" : "_self")%>><%=item.name%></a></li>
                  <% }); %>                
                </ul>
              <% } %>
            </section>
          </div>
          <div class="col-5 col-6-medium col-12-small">
            <section>
              <%-getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-TITLE-HTML5')%>
              <ul class="divided">
                <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-LINE1-HTML5').length > 0) { %><li><%-getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-LINE1-HTML5')%></li><% } %>
                <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-LINE2-HTML5').length > 0) { %><li><%-getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-LINE2-HTML5')%></li><% } %>
                <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-LINE3-HTML5').length > 0) { %><li><%-getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-LINE3-HTML5')%></li><% } %>
                <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-LINE4-HTML5').length > 0) { %><li><%-getParams(sessionUser.parameters, 'SITE-FOOTER-INFO-LINE4-HTML5')%></li><% } %>
              </ul>
            </section>
          </div>
          <div class="col-3 col-6-medium col-12-small">
            <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-SOCIAL-MEDIA-SHOW') == 'YES') { %>
              <section>
                <h2>Redes Sociais</h2>
                <ul class="icons">
                  <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-FACEBOOK-URL').length > 0) { %><li><a href="<%=getParams(sessionUser.parameters, 'SITE-FOOTER-FACEBOOK-URL')%>" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li><% } %>
                  <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-INSTAGRAM-URL').length > 0) { %><li><a href="<%=getParams(sessionUser.parameters, 'SITE-FOOTER-INSTAGRAM-URL')%>" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li><% } %>
                  <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-TWITTER-URL').length > 0) { %><li><a href="<%=getParams(sessionUser.parameters, 'SITE-FOOTER-TWITTER-URL')%>" target="_blank" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li><% } %>
                  <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-YOUTUBE-URL').length > 0) { %><li><a href="<%=getParams(sessionUser.parameters, 'SITE-FOOTER-YOUTUBE-URL')%>" target="_blank" class="icon brands alt fa-youtube"><span class="label">Youtube</span></a></li><% } %>
                </ul>
              </section>
            <% } %>
            <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-WHATSAPP-SHOW') == 'YES') { %>
              <section>
                <h2>WhatsApp</h2>
                <ul class="icons">
                  <li><i class="icon brands alt fa-whatsapp"></i><span class="label" style="font-size: 18px;"> <%-getParams(sessionUser.parameters, 'SITE-FOOTER-WHATSAPP-NUMBER-HTML5')%></span></li>
                </ul>
              </section>
            <% } %>
            <% if (getParams(sessionUser.parameters, 'SITE-FOOTER-EMAIL-SHOW') == 'YES') { %>
              <section>
                <h2>E-Mail</h2>
                <ul class="icons">
                  <li><i class="icon alt fa-envelope"></i><span class="label" style="font-size: 18px;"> <%-getParams(sessionUser.parameters, 'SITE-FOOTER-EMAIL-ADDRESS-HTML5')%></span></li>
                </ul>
              </section>
            <% } %>
          </div>
        <% } %>
        <div class="col-12">
          <div id="copyright">
            <ul class="menu">
              <li>&copy; 2022 Todos os direitos reservados</li>
              <li>Versão 1.0.0</li>
              <li>Powered by <a href="https://kitab.com.br" target="_blank">KITAB Informática</a></li>
              <li>Design by <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- Banner LGPD -->
<div id="bannerLGPD" class="banner-lgpd-consent-container" data-nosnippet="">
  <div class="banner-lgpd-consent banner-lgpd-consent--show">
    <div id="lgpd-consent__text" class="banner-lgpd-consent__column">
      Utilizamos cookies essenciais e tecnologias semelhantes de acordo com a nossa <a href="/pagina/3" target="_blank" class="banner-lgpd-consent__link">Política de Privacidade</a> e, ao continuar navegando, você concorda com estas condições.
    </div> 
    <div class="banner-lgpd-consent__column"><button id="cookieEnable" class="banner-lgpd-consent__accept">OK</button></div>
  </div>
</div>

<!-- Scripts -->
<script src="/site/zerofour/assets/js/jquery.min.js"></script>
<script src="/site/zerofour/assets/js/jquery.dropotron.min.js"></script>
<script src="/site/zerofour/assets/js/browser.min.js"></script>
<script src="/site/zerofour/assets/js/breakpoints.min.js"></script>
<script src="/site/zerofour/assets/js/util.js"></script>
<script src="/site/zerofour/assets/js/main.js"></script>

<!-- Script specific for this page -->
<script>
$(function() {
  if (localStorage.getItem('cookieTermsAccepted') != 'accepted') $("#bannerLGPD").css('display','flex');

  $("#cookieEnable").on("click", function () {
    localStorage.setItem('cookieTermsAccepted', 'accepted');

    $("#bannerLGPD").css('display','none');
  });

  $("#sendEmail").click(function(e) {
    e.preventDefault();

    var name = $("#name").val().trim();
    var email = $("#email").val().trim();
    var message = $("#message").val().trim();

    var testName = /[A-Za-z]{1}[A-Za-z]/;

    if (!testName.test(name)) {
      alert ("O Nome precisa ter mais que 2 caracteres !");

      return;
    }

    if (!testName.test(message)) {
      alert ("A Mensagem precisa ter mais que 2 caracteres !");

      return;
    }

    var testEmail = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/;

    if (!testEmail.test(email)) {
      alert ("O formato do Email é inválido !");

      return;
    }

    if (name.length <= 0 || email.length <= 0 || message.length <= 0) {
      alert('Preencha todos os dados para enviar o Email !'); 
      
      return;
    }

    $.ajax({
      url: "/enviar-email/fale-conosco",
      dataType:'json',
      type: "post",
      method: "post",
      data: { name, email, message },
      success: function(data, textStatus, xhr) {
        if (xhr.status === 200) {
          alert(data.message);

          $("#name").val('');
          $("#email").val('');
          $("#message").val('');
        } else {
          alert('Não foi possível enviar o Email ! Por favor, tente mais tarde !');
        }
      },
      error: function(response) {
        alert('Não foi possível enviar o Email ! Por favor, tente mais tarde !');
      }
    });
  });
});
</script>

<!-- Style specific for Banner LGPD -->
<style>
@keyframes show{0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;transform:translate3d(0,3000px,0) scaleY(5)}60%{opacity:1;transform:translate3d(0,-20px,0) scaleY(.9)}75%{transform:translate3d(0,10px,0) scaleY(.95)}90%{transform:translate3d(0,-5px,0) scaleY(.985)}to{transform:translateZ(0);}}
@keyframes hide{0%{transform:translate3d(0,0,0)}99%{transform:translate3d(0,100vh,0)}100%{z-index:0;opacity:0;display:none;}}

.banner-lgpd-consent-container { position:fixed;left:0;bottom:10px;display:flex;width:100vw;justify-content:center;z-index:29999999; }
.banner-lgpd-consent { position:relative;display:flex;align-items:center;justify-content:center;box-sizing:border-box;height:0;width:calc(100vw - 20px);max-width:1326px;height:70px;padding:27px;background-color:rgba(64,64,64,.9);box-shadow:0 8px 6px 0 rgba(0,0,0,.41);border-radius:5px;overflow:hidden;font-family:Arial,Helvetica,sans-serif;transform:translate3d(0,100vh,0);text-align:center; }
.banner-lgpd-consent__column{ padding:0 54px;margin:0 -30px;color:#fff!important;font-size:14px;font-weight:400!important;line-height:16px;display:block!important; }
.banner-lgpd-consent--version-b .banner-lgpd-consent__title { display:block; }
.banner-lgpd-consent__link { color:inherit;text-decoration:underline; }
.banner-lgpd-consent__link:hover { color:inherit;text-decoration:none; }
.banner-lgpd-consent__accept { position:relative;display:block;width:118px;height:36px;line-height:0px;background:#e9b425;border-radius:1px;cursor:pointer;color:#fff!important;border:none;box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.4);transition:all .3s; }
.banner-lgpd-consent__accept:hover { background:#eab934; }
.banner-lgpd-consent__accept:active { background:#dca716; }
.banner-lgpd-consent--show { animation:show 1s both; }
.banner-lgpd-consent--hide { animation:hide 1s ease-in forwards; }

@media screen and (max-width:768px) {
  .banner-lgpd-consent-container { bottom:140px; }
  .banner-lgpd-consent { height:auto;padding:34px;flex-wrap:wrap; }
  .banner-lgpd-consent__column { width:100%;padding:0;margin:0;font-size:20px;line-height:24px; }
  .banner-lgpd-consent__accept { width:100%;margin:24px 0 0; }
}

#bannerLGPD {display: none;}
</style>
</body>
</html>
